@{
    ViewData["Title"] = "My Ara";
}

<div class="container-fluid">
    <h2 class="display-4">What is Moodle?</h2>
    <p>Moodle is an online service that Ara uses to distribute course material and handle submissiosn</p>
    <p></p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Moodle</li>
        <li class="list-group-item">Attendance</li>
        <li class="list-group-item">Outlook (Ara email)</li>
        <li class="list-group-item">Onedrive</li>
        <li class="list-group-item">Results</li>
        <li class="list-group-item">Event</li>
        <li class="list-group-item">and plenty more</li>
    </ul>
    <div class="container-fluid">
        <h2>How do I access or download MyAra?</h2>
        <p>MyAra is a service hosted by Ara via a <a href="https://myara.ara.ac.nz/">website</p>
        <p>Or via the <a href="https://play.google.com/store/apps/details?id=com.mydaycloud.app.ara&gl=US">Google Play Store</a>
        or the <a href="https://apps.apple.com/nz/app/myara/id1439199009">Apple Store</a></p>
        <p>Once opened, you will be prompted to to log in using the credential provided to you by Ara.</p>
    </div>
</div>