@{
    ViewData["Title"] = "Using Ara Resources";
}

<div class="container-fluid">
    <h3 class="display-4">What is available to you?</h3>
    <p>Ara provides it's students with tools and utilites to best aid with the learning. Some of these tools are:</p>
    <div class="d-flex p-2">
        <div class="card" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Moodle</h5>
                <p class="card-text">The virtual tour is comprised of many 360 images taken across campus, 
                    giving you the liberty to explore for yourself</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Tools" asp-action="Moodle">Learn More</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">My Ara</h5>
                <p class="card-text">My Ara is an all in one platform to keep you on track with your learning and metrics</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Tools" asp-action="Myara">Learn More</a>
            </div>
        </div>
    </div>
</div>


