@{
    ViewData["Title"] = "Credits";
}

<div class="container-fluid">
    <h3>About the project</h3>
    <p>My name is Luc Roghi and I am a Software Engineering student. Due to the COVID pandemic, students have been unable to attend the Orientation in person.
        As such the goal of this project is to provide an alternative for students and/or parents that are unable to attend.
    </p>
    <h3>Credits for this project</h3>
    <ul class="list-group">
        <li class="list-group-item">Luc Roghi - Full Stack Developper</li>
        <li class="list-group-item">Adam Taylor - Photograph, Interview Partner</li>
        <li class="list-group-item">Ace Meng - Photograph, Interview Partner</li>
        <li class="list-group-item">Juliette Dawson - Photograph, Interview Partner</li>
        <li class="list-group-item">Luofeng Xu - Advisor</li>
        <li class="list-group-item">David Weir - Advisor</li>
    </ul>
</div>