@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Ara/ Te Pukengas Virtual Orientation Experience. On this website you will find a 360 interactive virtual tour,
         a roster of the staff as well as how to use the services that Ara / Te Pukenga uses</p>
    <div class="d-flex p-2">
        <div class="card" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Take the virtual tour</h5>
                <p class="card-text">The virtual tour is comprised of many 360 images taken across campus, 
                    giving you the liberty to explore for yourself</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="VirtualTour">Take Virtual Tour</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Meet the staff</h5>
                <p class="card-text">Ara/Te Pukenga is proud to offer fantastic tutors teaching a multitude of courses at Bustech. </p>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Staff">Meet the staff</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Using Ara Tools</h5>
                <p class="card-text">Ara offers plenty of tools to aid in your learning. Click the link below for some tutorials on how to use them</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Tools" asp-action="UsingAraResources">Learn More</a>
            </div>
        </div>
    </div>
</div>


