@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome</h1>
        <p class="lead text-muted">Welcome to Ara/ Te Pukengas Virtual Orientation Experience. On this website you will find a 360 interactive virtual tour,
         a roster of the staff as well as how to use the services that Ara / Te Pukenga uses</p>
      </div>
    </div>
  </section>

<div class="container-fluid">
    <div class="d-flex p-2">
        <div class="card mx-auto" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src="~/images/banner.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Take the virtual tour</h5>
                <p class="card-text">The virtual tour is comprised of many 360 images taken across campus, 
                    giving you the liberty to explore for yourself</p>
                <a class="btn btn-primary" asp-area="" asp-controller="VirtualTour" asp-action="VirtualTour">Take Virtual Tour</a>
            </div>
        </div>
        <div class="card mx-auto" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src="~/images/banner.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Meet the staff</h5>
                <p class="card-text">Ara/Te Pukenga is proud to offer fantastic tutors teaching a multitude of courses at Bustech. </p>
                <a class="btn btn-primary" asp-area="" asp-controller="Staff" asp-action="Staff">Meet the staff</a>
            </div>
        </div>
        <div class="card mx-auto" style="width: 18rem; margin: 20px">
            <img class="card-img-top" src="~/images/banner.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Using Ara Tools</h5>
                <p class="card-text">Ara offers plenty of tools to aid in your learning. Click the link below for some tutorials on how to use them</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Tools" asp-action="UsingAraResources">Learn More</a>
            </div>
        </div>
    </div>
</div>


