@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Ara/ Te Pukengas Virtual Orientation Experience. On this website you will find a 360 interactive virtual tour,
         a roster of the staff as well as how to use the services that Ara / Te Pukenga uses</p>
    <h4>About the project</h4>
    <p>My name is Luc Roghi and I am a Software Engineering student. Due to the COVID pandemic, students have been unable to attend the Orientation in person.
        As such the goal of this project is to provide an alternative for students and/or parents that are unable to attend.
    </p>
</div>
