@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Login";
}

<div class="text-center">
    <h1 class="display-4">Admin Login</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
