@model IEnumerable<AraVirtualTour.StaffModel>

@{
    ViewData["Title"] = "Meet the Staff";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model) {
    <div class="col">
        <div class="card">
            <img class="card-img-top" src=".../100px180/" alt="Card image placeholder">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Title) In @Html.DisplayFor(modelItem => item.Department)</p>
            </div>
        </div>
    </div>
    
    }
</div>